* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: white;
}

input, textarea, select,option{
  color : black
}
:root {
  --dark-1: #261c2c;
  --dark-2: #3e2c41;
  --dark-3: #5c527f;
  --dark-4: #6e85b2;
  --dark-blue: #2754af;
  --dark-red: #982958;
  --dark-yellow: #9d9d53;
  --dark-green: #6eb279;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-4);
  border-radius: 10px;
  width: 1px;
  height: 1px;
}

html,
body,
#root {
  background-color: #261c2c;
  width: 100%;
  min-height: 100vh;
}

button {
  padding: 5px 10px 5px 10px;
}

footer {
  padding: 60px;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.ver-center {
  align-items: center;
}

.hor-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extrabold {
  font-weight: 800;
}
