.navigationBar{
    padding : 20px;
    background-color: var(--dark-2);
}
.navigationBar h1 {
    font-size: 3rem;
}

.navigationBar input{
    max-width: 400px;
    min-width: 250px;
    padding : 10px;
}

.navigationBar input::placeholder{
    font-size: 1rem;
    font-weight: 600;
}